body {
  background-color:#0a0c1b;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.card {
  background-color: #1c1938;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  height: 51vh;
  width: 70vw;
  margin-top: 19vh;
  border-radius: 10px
}

.content {
  padding: 2vw 5vw 2vw 4vw;
}

span {
  color: hsl(277, 64%, 61%);
}

.content p {
  color: hsla(0, 0%, 100%, 0.75)
}

.stats {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 25vw;
}

.stats p {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Lexend Deca', sans-serif;
}

header {
  height: 51vh;
  width: 143%;
  background: linear-gradient(to top, hsla(277, 85%, 55%, 0.5), hsl(277, 85%, 55%, 0.5)), url(images/image-header-desktop.jpg) no-repeat top center;
  border-radius: 0px 10px 10px 0;
}

.attribution { 
  font-size: 15px; 
  text-align: center;
  margin-top: 17vh; 
  color: hsla(0, 0%, 100%, 0.5);
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
  font-size: 15px; 
}

@media screen and (min-width: 1441px) and (max-width: 2500px) {

  .card {
    width: 55vw;
    height: 440px;
  }  

  .stats {
    width: 19vw;
  }
  
  header {
    height: 440px;
    overflow: none;
  }

}

@media screen and (min-width: 621px) and (max-width: 1110px) {

  .card {
    width: 85vw;
    height: 50vh;
  }

  header {
    height: 50vh;
    width: 150%;
  }

  .stats {
    margin-top: 4vh;
  }

}


@media screen and (min-width: 375px) and (max-width: 620px) {

  .card {
    margin-top: 1vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    border-radius: 10px;
  }

  .content {
    width: 80%;
    margin: auto;
  }

  .content p {
    line-height: 3.5vh;
  }

  .stats {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 0.7vh;
  }

  header {
    height: 60%;
    width: 100%;
    background: linear-gradient(to top, hsla(277, 85%, 55%, 0.5), hsl(277, 85%, 55%, 0.5)), url(images/image-header-mobile.jpg) no-repeat top contain;
    border-radius: 10px 10px 0 0;
  }

  .attribution { 
    margin-top: 3vh; 
  } 
}

@media screen and (max-width: 374px) {

  .card {
    margin-top: 1vh;
    width: 85vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    border-radius: 10px;
  }

  .content {
    width: 80%;
    margin: auto;
  }

  .content p {
    line-height: 3.5vh;
  }

  .stats {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 0.7vh;
  }

  header {
    height: 60%;
    width: 100%;
    background: linear-gradient(to top, hsla(277, 85%, 55%, 0.5), hsl(277, 85%, 55%, 0.5)), url(images/image-header-mobile.jpg) no-repeat top contain;
    border-radius: 10px 10px 0 0;
  }

  .attribution { 
    margin-top: 3vh; 
  } 
}